<!doctype html>
<html>
	<body>
		<script>
			var all_rows_string = {{ data|tojson }};
			var all_rows = JSON.parse(all_rows_string)["rows"]
			var ul = document.createElement("ul");
			document.body.appendChild(ul);
			for (var i = 0; i < all_rows.length; i++){
				var li = document.createElement("li");
				li.className = "doc";
				var a = document.createElement("a");
				a.innerHTML = all_rows[i]["doc"]["package_name"];
				li.appendChild(a);
				li.appendChild(b);
				ul.appendChild(li);
			}
		</script>
	</body>
</html>
